@import "../../theme";

.app-routes {
  display: flex;
  justify-content: center;

  .app-route-btn {
    border-bottom: 1px solid transparent;
    padding: 10px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid black;
    }

    &:active {
      background-color: $pseudoClassActiveBgColor;
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: initial;
    }
  }
}