@import "../../theme";

.app-routes {
  display: flex;
  justify-content: center;

  .app-route-btn {
    border-bottom: 1px solid transparent;
    padding: 10px;
    text-decoration: none;

    &:hover {
      &:visited {
        border-bottom: 1px solid black;
        color: #000000;
      }
    }

    &:active {
      background-color: $pseudoClassActiveBgColor;
    }

    &:link,
    &:visited {
      color: #666666;

      &.selected {
        border-bottom: 1px solid black;
        color: #000000;
      }
    }
  }
}